---
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
layout: post.njk
permalink: "blog/{{ post.slug | slugify }}/index.html"
tags:
  - posts
eleventyComputed:
  title: "{{ post.title }}"
  description: "{{ post.description }}"
  postDate: "{{ post.date }}"
  updatedAt: "{{ post.updatedAt }}"
  image: "{{ post.image }}"
  imageAlt: "{{ post.imageAlt }}"
  strapiTags: "{{ post.strapiTags }}"
  author: "{{ post.author }}"
  authorAvatar: "{{ post.authorAvatar }}"
---

{% if post.content %}{{ post.content | markdownBlock | safe }}{% endif %}
