<nav class="navbar navbar-expand-lg bg-body border-bottom sticky-top">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="/">
      <img 
        src="https://github.com/Dino-996.png" 
        alt="Davide Sabia" 
        class="rounded-circle"
        width="32"
        height="32"
        style="object-fit: cover;"
      >
      <span><span class="text-primary">dino</span>-996</span>
    </a>
    
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav"
      aria-controls="navbarNav" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/' %} active{% endif %}" href="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if '/blog/' in page.url %} active{% endif %}" href="/blog/">
            Blog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.url == '/about/' %} active{% endif %}" href="/about/">
            About
          </a>
        </li>

        <li class="nav-item mode-switch">
          <div class="d-inline-flex rounded-pill bg-body-tertiary p-1">
            <button title="Dark mode" id="dark" class="btn btn-sm btn-default rounded-pill text-secondary p-2" style="transform: none; box-shadow: none">
              <i class="bi bi-moon"></i>
            </button>

            <button title="Light mode" id="light" class="btn btn-sm btn-default rounded-pill text-warning p-2" style="transform: none; box-shadow: none">
              <i class="bi bi-sun"></i>
            </button>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>